<% if flash[:error_messages].present? %>
	<div class="alert alert-danger">
		<ul>
			<% flash[:error_messages].each do |error_message| %>
				<li><%= error_message %></li>
			<% end %>
		</ul>
	</div>
<% end %>